
h2{
    padding-top:30px;
    text-align:center;
  }

h1{
	color:rgb(214, 26, 19);
	padding:20px;
    position: fixed;

}

td,th
{
    border: 5px solid black;
    text-align: center;
    background-color: #d9b3ff;
    width:  500px;
    scroll-behavior: smooth;
   

}
table{
    table-layout: fixed;
}
.table h3
{
    text-align: center;
    color: red;
}
.table
{
    margin: 50px;
    padding: 50px;
    background: linear-gradient(to left, #25c481, #25b7c4);
     
}


*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
header, footer
{
    padding: 20px;
    background: rgb(159, 179, 216);
    border-radius: 20px;
    color: black;
    margin-top: 10px;
    
}
section
{
    width: 55%;
    float: left;
    height: 400px;
    background: rgb(4, 155, 110);

}
.main
{
    margin: 20px  20px;

}


.main img
{
width: 350px;
height: 350px;
padding: 30px;
border-radius: 40px;


}
.main *
{
    border-radius: 20px;
    
    
}
.main::after
{
content: "";
clear: both;
display: table;

}
.right
{
    width: 35%;
    float: left;
    height: 400px;
    border-left: 2px solid black;
    border-radius: 10px;
    background: rgb(41, 68, 10) ;
}